<h1>Список вопросов для теста "<%= @test.title %>" (<%= @test.questions.count %>)</h1>
<% flash.each do |level, message| %>
  <div class="alert alert-<%= level %>" style="margin: 5px; padding: 5px; background-color: #ffc5c5; border: 1px solid #f1a0a0; color: red"><%= message %></div>
<% end %>

<a href="<%= new_test_question_path %>">Добавить новый</a>
<table>
  <tr>
    <th>Вопрос</th>
    <th colspan="2">Действия</th>
  </tr>
  <%= render @test.questions %>
</table>