<% @title = "Информация по вопросу '#{@question.body}'" %>
<%= link_to '<< к списку', test_questions_path(@question.test), method: :get %>
<table>
  <tr><td>Поле</td><td>Значение</td></tr>
  <tr><td>body</td><td><%= @question.body %></td></tr>
  <tr><td>test.title</td><td><%= @question.test.title %></td></tr>
  <tr><td>created_at</td><td><%= @question.created_at %></td></tr>
  <tr><td>updated_at</td><td><%= @question.updated_at %></td></tr>
</table>