<%= form_with url: sessions_path, local: true do |form| %>
  <p>
    <%= form.label :login, "Логин" %>
    <%= form.text_field :login %>
  </p>
  <p>
    <%= form.label :password, 'Пароль' %>
    <%= form.password_field :password, id: :password %>
  </p>
  <p><%= form.submit %></p>
<% end %>
