<div class="header">
  <div class="header-item logo"><%= link_to 'TestGuru', root_path %></div>
  <div class="header-item admin-panel">Панель администратора</div>
  <% if user_signed_in? %>
    <div class="header-item logout"><%= link_to 'Выйти из профиля', destroy_user_session_path, method: :delete %></div>
    <div class="header-item user">Добро пожаловать, <%= current_user.name || current_user.email %></div>
  <% else %>
    <ul class="header-item menu">
      <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
      <li><%= link_to 'Войти', new_user_session_path %></li>
    </ul>
  <% end %>
</div>