<div class="navbar navbar-custom header">
  <div class="container">
    <div class="navbar-brand header-item logo"><%= link_to 'TestGuru', root_path %></div>
    <div class="navbar-text admin-panel"><%= t '.admin_panel' %></div>
    <div class="navbar-text user"><%= t 'layouts.application.welcome', user: current_user.name || current_user.email %></div>
    <div class="nav-link"><%= link_to 'Gist', admin_gists_path %></div>
    <div class="nav-link"><%= link_to t('.feedbacks'), admin_feedbacks_path %></div>
    <div id="navbarNav">
      <div class="navbar-nav">
        <div class="nav-link header-item logout"><%= link_to t('layouts.application.logout'), destroy_user_session_path, method: :delete %></div>
      </div>
    </div>
  </div>
</div>