<tr>
  <td><%= gist.question.body[0..25] %></td>
  <td><%= link_to gist.url[23..40], gist.url, target: '_blank' %></td>
  <td><%= gist.user.email %></td>
  <td><%= button_to(t('application.button.detail'), admin_gist_path(gist), method: :get) %></td>
  <td><%= button_to(t('application.button.delete'),
                    admin_gist_path(gist),
                    data: { :confirm => t('application.confirm_delete') },
                    method: :delete) %></td>
</tr>

