<%= form_with model: @user, local: true do |form| %>
  <p>
    <%= form.label :login, "Логин" %>
    <%= form.text_field :login %>
  </p>
  <p>
    <%= form.label :email, "E-Mail" %>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password, 'Пароль' %>
    <%= form.password_field :password, id: :user_password %>
  </p>

  <p>
    <%= form.label :password_confirmation, 'Пароль' %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </p>
  <p><%= form.submit %></p>
<% end %>
