<% @title = t '.title', title: @test_passage.test.title %>

<p>
  <b><%= @test_passage.current_question.body %></b>
</p>

<p><%= t '.queries_count', current: @test_passage.current_position, max: @test_passage.test.questions.count %></p>
<%= content_tag :div, id: 'progress-bar', data: { current: @test_passage.current_position, max: @test_passage.test.questions.count } do %>
  <div id="progress"></div>
<% end %>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= link_to t('.save_to_gist'), gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit t '.continue' %></p>
<% end %>