<h1><%= t '.title' %></h1>
<p><%= t '.user' %>: <%= @feedback.user.email %></p>
<p><%= t '.created_at' %>: <%= @feedback.created_at %></p>
<p><%= t '.text' %>:</p>
<p><em><%= @feedback.body %></em></p>