<% @title = t '.title' %>
<%= link_to t('application.button.add'), new_admin_test_path %>
<p><%= t '.found_count', count: @tests.count %></p>
<table>
  <tr>
    <th><%= t 'helpers.label.test.category_id' %></th>
    <th><%= t 'helpers.label.test.title' %></th>
    <th><%= t 'helpers.label.test.level' %></th>
    <th colspan="3"><%= t 'tests.index.fields.actions' %></th>
  </tr>
  <%= render @tests %>
</table>