<% @title = t '.title' %>
<%= link_to t('application.button.add'), new_admin_test_path %>
<p><%= t '.found_count', count: @tests.count %></p>
<table>
  <tr>
    <th><%= t('tests.field_label.category') %></th>
    <th><%= t('tests.field_label.title') %></th>
    <th><%= t('tests.field_label.level') %></th>
    <th colspan="3"><%= t 'tests.index.fields.actions' %></th>
  </tr>
  <%= render @tests %>
</table>