<% @title = t '.title', name: @test.title %>
<%= link_to '<< ' + t('application.button.back'), admin_tests_path %>
<%= link_to t('application.button.update'), edit_admin_test_path %>
<table>
  <tr>
    <td><%= t('application.fields.detail_view.name') %></td>
    <td><%= t('application.fields.detail_view.value') %></td>
  </tr>
  <tr>
    <td><%= t('tests.field_label.title') %></td>
    <td><%= @test.title %></td>
  </tr>
  <tr>
    <td><%= t('tests.field_label.category') %></td>
    <td><%= @test.category.title %></td>
  </tr>
  <tr>
    <td><%= t('tests.field_label.level') %></td>
    <td><%= @test.level %></td>
  </tr>
  <tr>
    <td><%= t('application.fields.created_at') %></td>
    <td><%= @test.created_at %></td>
  </tr>
  <tr>
    <td><%= t('application.fields.updated_at') %></td>
    <td><%= @test.updated_at %></td>
  </tr>
</table>

<h2><%= t '.questions_title' %></h2>
<%= link_to t('application.button.add'), new_admin_test_question_path(@test) %>
<table>
  <tr>
    <th><%= t '.question_name' %></th>
    <th colspan="2"><%= t 'tests.index.fields.actions' %></th>
  </tr>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</table>