<%= form_with model: model do |form| %>
  <%= form.hidden_field :category_id %>
  <p>
    <%= form.label :title, "Заголовок" %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :level, "Уровень сложности" %>
    <%= form.text_field :level %>
  </p>

  <p>
    <%= form.label :created_by_id, "Создан" %>
    <%= form.collection_select :created_by_id, User.all, :id, :name %>

  </p>
  <p><%= form.submit %></p>
<% end %>
