<% @title = t 'tests.index.title' %>
<p><%= t 'tests.index.found_count', count: @tests.count %></p>
<table>
  <tr>
    <th><%= t 'helpers.label.test.category_id' %></th>
    <th><%= t 'helpers.label.test.title' %></th>
    <th><%= t 'helpers.label.test.level' %></th>
    <th><%= t 'tests.index.fields.actions' %></th>
  </tr>
  <%= render @tests %>
</table>