<% @title = test_header(@test.title) %>
<%= link_to '<< к списку', category_tests_path(@test.category), method: :get %>
<table>
  <tr><td>Поле</td><td>Значение</td></tr>
  <tr><td>Заголовок</td><td><%= @test.title %></td></tr>
  <tr><td>Раздел</td><td><%= @test.category.title %></td></tr>
  <tr><td>Уровень</td><td><%= @test.level %></td></tr>
  <tr><td>created_at</td><td><%= @test.created_at %></td></tr>
  <tr><td>updated_at</td><td><%= @test.updated_at %></td></tr>
</table>

<h2>Подключённые вопросы</h2>
<p>Просмотреть список отдельно: <%= link_to 'Сюда', test_questions_path(@test) %></p>
<%= render 'questions/list', elements: @test.questions %>