<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Testguru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <div class="header-item logo"><%= link_to 'TestGuru', root_path %></div>
    <% if !@current_user.present? %>
      <ul class="header-item menu">
        <li><%= link_to 'Зарегистрироваться', signup_path %></li>
        <li><%= link_to 'Войти', login_path %></li>
      </ul>
    <% else %>
      <div class="header-item logout"><%= link_to 'Выйти из профиля', logout_path %></div>
      <div class="header-item user">Добро пожаловать, <%= @current_user.name || @current_user.email %></div>
    <% end %>
  </div>
  <div class="content">
    <% if @title.present? %><h1><%= @title %></h1>
    <% end %>
    <% flash.each do |level, message| %>
      <div class="flash flash-<%= level %>" style=""><%= message %></div>
    <% end %>
    <%= yield %>
    <footer>
      <div class="footer-item">Oleh Serhiienko</div>
      |
      <div class="footer-item"><%= github_url('mubat', 'testguru_rails_course') %></div>
      |
      <div class="footer-item"><%= current_year %></div>
      |
      <div class="footer-item">Учебный проект в онлайн-школе
        <a href="https://thinknetica.com/" target="_blank">Thinknetica</a></div>
    </footer>
  </div>
  </body>
</html>
