<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Testguru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <div class="header-item logo"><%= link_to 'TestGuru', root_path %></div>
    <% if user_signed_in? %>
      <div class="header-item logout"><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></div>
      <div class="header-item user"><%= t '.welcome', user: current_user.name || current_user.email %></div>
    <% else %>
      <ul class="header-item menu">
        <li><%= link_to t('.sign_up'), new_user_registration_path %></li>
        <li><%= link_to t('.login'), new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
  <div class="content">
    <% if @title.present? %><h1><%= @title %></h1>
    <% end %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <footer>
      <div class="footer-item">Oleh Serhiienko</div>
      |
      <div class="footer-item"><%= github_url('mubat', 'testguru_rails_course') %></div>
      |
      <div class="footer-item"><%= current_year %></div>
      |
      <div class="footer-item"><%= t '.school_link_html', link: link_to('Thinknetica', 'https://thinknetica.com/', target: '_blank') %></div>
    </footer>
  </div>
  </body>
</html>
